<div class="jumbotron">
  <h1 class="display-4">Friends Home Page</h1>
  <p class="lead">
    Select the page you want to visit
  </p>
  <hr class="my-4" />
  <p class="lead">
    <a href="/login" class="btn btn-primary btn-lg">Login</a>
    <a href="/register" class="btn btn-primary btn-lg">SignUp</a>
  </p>
</div>